<body>
    <div class="container">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a id='nav#b4index' class="nav-link" href="#b4index">Home</a>
                </li>
                <li class="nav-item">
                    <a id='nav#bookSearch' class="nav-link" href="#bookSearch">Books Search<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a id="nav#bundles" class="nav-link" href="#bundles">Books Bundles<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
        <h1>b4app</h1>
        <hr>
        <div id="divMain">
            <!-- We place here the main content of bundles web app -->
        </div>
        <div>
            <div class="card-footer">
                <small>References</small>
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        <small>Application built with Node.js support.</small>
                    </li>
                    <li class="card-text">
                        <small>
                            <a href="https://www.gutenberg.org/" target="_blank">
                                Project Gutenberg
                                <img src="./../img/pg.jpg" width="30px">
                            </a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>