<body>
    <div class="container">
        <div id="divNavbar">
        </div>
        <h1>b4app</h1>
        <hr>
        <div id="divAlerts">
        </div>
        <div id="divMain">
            <!-- We place here the main content of bundles web app -->
        </div>
        <div>
            <div class="card-footer">
                <small>References</small>
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        <small>Application built with Node.js support.</small>
                    </li>
                    <li class="card-text">
                        <small>
                            <a href="https://www.gutenberg.org/" target="_blank">
                                Project Gutenberg
                                <img src="./../img/pg.jpg" width="30px">
                            </a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>